<aside class="aside-wrapper">
  <table class="table table-responsive table-hover table-striped">
    <thead>
      <tr>
        <td width="250">Click</td>
        <td width="250">
          Position
          <a ng-show="clickArray.length>0" ng-click="clearStorage()" class="pull-right" role="button">Clear</a>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="click in clickArray">
        <td>{{ click.timestamp | date:'hh:mm:ss a'}}</td>
        <td>X - {{ click.xCordinate }}, Y - {{ click.yCordinate }}</td>
      </tr>
    </tbody>
  </table>
</aside>
<section ng-click="clickEvent($event)" class="click-playground">
</section>
