<footer class="container-fluid footer-wrapper">
  <ul class="list-inline text-center">
    <li>
      <a href="https://github.com/angvishvish">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://in.linkedin.com/in/angvish-kumar-9a081040">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <!-- <li>
      <a href="https://twitter.com/Angvishvish">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li> -->
    <!-- <li>
      <a href="https://www.facebook.com/angvish">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li> -->
    <!-- <li>
      <a href="https://plus.google.com/u/0/+AngvishKumarShaw/posts">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li> -->
    <li>
      <a href="mailto:angvishvish@gmail.com">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="tel:+918552866883">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
  <p class="copyright text-center text-muted">Copyright © angvishvish 2016</p>
</footer>
